/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$presentation-heading-color:$body-bg !default;
$selection-bg: rgba(0, 0, 0, 0.99);

// Vertical spacing between blocks of text
$blockMargin: 25px;

.author {
    color: #fff;
  }

.reveal section h2 {
    color: #ae260e;
  }

  .reveal section h3 {
    color: #ae260e;
  }

.center-x{
    text-align: center;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

// link colors

$link-color: #88188a !default;
$link-color-hover: lighten($link-color, 10%) !default;

// code blocks
$code-block-bg: $body-bg !default;
$code-block-border-color: lighten($body-color, 60%) !default;
$code-block-font-size: 0.8em !default;